.container {
  padding: .3rem;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  max-height: 10rem;
  overflow-y: auto;
}

.history {
  padding: .2rem;
  background: #1c1c1c;
  border-radius: .3rem;
  font-size: .7rem;
}