.container {
  display: grid;
  grid-template-columns: 1fr auto;

  gap: 2rem;
  padding: 1rem

}

.board {
  height: 100%;
  display: flex;
  align-items: center;
  gap: .5rem;
  flex-direction: column;

}

.status {
  margin-bottom: 10px;
}