.container {
    padding: 2rem;
    border: 1px solid #656565;
    margin: .5rem;
    border-radius: 0.5rem;
}

.abilities {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 1px solid #363636;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #181818 ;
}